extends template/main
append vars
	-
		page_title= 'Main'
block content
	main
		section.mobile-form
			.violet-block
				input(type='checkbox').violet-block-checkbox#vCheck
				label(for='vCheck').violet-block-label
					span
				.violet-block-text
					span.title Not Answered
					span.subtitle *Click the radio button to switch the property
			h2.form-title
				span Form name
			.answer-row
				.row
					span.yes Yes
					span.answer Parking lot clean?
					span.no No
			.bottom-block
				button.bottom-input
					span Section & Category
				button.bottom-button
					+img('arrow-top.svg')
			.advise.popup
				.popup-title.advise-title
					span Advise
					button.close
						+img('close.svg')
				.advise-no
					span Swipe left to answer&nbsp;
					strong NO
				.advise-instruction
					.answer-row
						.row
							span.yes Yes
							span(style='transform:translateX(-92px)' data-position='-92').answer Parking lot clean?
							span.no No
					.answer-row
						.row
							span.yes Yes
							span(style='transform:translateX(93px)' data-position='93').answer Parking lot clean?
							span.no No
					+img('swipe.svg')
				.advise-yes
					span Swipe right to answer&nbsp;
					strong YES
				button.close.advise-unsubs
					span Don't show it again
			.popup.desc
				.popup-title
					span Parking lot clean?
					button.close
						+img('close.svg')
				.desc-text
					p In this block, you can specify either information in the form of hints about the form, or full-fledged information with form editing.
			form.popup.tellToUs
				.popup-title.tellToUs-title
					span Tell, why “NO”
					button(type='button').close
						+img('close.svg')
				.tellToUs-inner
					textarea(placeholder='Your comment').tellToUs-textarea
					span.tellToUs-desc *Please, no more than 200 characters
					.add-photos
						.add-photos-block
							input(type="file" accept="image/*")
							.button
								+img('plus.svg')
								span Add a photo
						.add-photos-block
							input(type="file" accept="image/*")
							.button
								+img('plus.svg')
								span Add a photo
						.add-photos-block
							input(type="file" accept="image/*")
							.button
								+img('plus.svg')
								span Add a photo
					button.tellToUs-done
						span Done
				.tellToUs-success
					+img('success.svg')
					span Success!
				.tellToUs-fail
					+img('failure.svg')
					span Failure!
			form.popup.tellToUs.active
				//.fail.success
				.popup-title.tellToUs-title
					span Tell, why “NO”
					button(type='button').close
						+img('close.svg')
				.tellToUs-inner
					.horizontal
						.line(data-count='3')
							.bar
						span.line-span 1
						span.line-span 2
						span.line-span 3
					textarea(placeholder='Your comment').tellToUs-textarea
					span.tellToUs-desc *Please, no more than 200 characters
					.add-photos
						.add-photos-block
							input(type="file" accept="image/*")
							.button
								+img('plus.svg')
								span Add a photo
						.add-photos-block
							input(type="file" accept="image/*")
							.button
								+img('plus.svg')
								span Add a photo
						.add-photos-block
							input(type="file" accept="image/*")
							.button
								+img('plus.svg')
								span Add a photo
					button.tellToUs-done
						span Done
				.tellToUs-success
					+img('success.svg')
					span Success!
				.tellToUs-fail
					+img('failure.svg')
					span Failure!

